/* InputBuscador.css */
.input-buscador {
  display: flex;
    align-items: center;
    justify-content: center; 
    width: 400px; 
    margin: 0 auto; 
    padding: 10px 30px;
    background-color: #1F487E;
    border: 1px solid  #1F487E;
    border-radius: 5px;
    box-shadow: 0 2px 4px #9CD7EB;

}

.custom-input {
  flex-grow: 1;
  border: none; 
  outline: none; 
  padding: 8px;
  border-radius: 10px;
  margin-right: 10px; 
  height: 30px; 
  font-size: 15px;
}

.input-buscador button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 15px;
}

.input-buscador button:hover {
  background-color: #0056b3;
}
